* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f6f7f9;
}

#header {
    width: 100vw;
    height: 22vh;
    background: white;
    border-top: 5px solid #e03134;
}

#title-and-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 65px;
    font-style: italic;
}

nav {
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 2px solid #f5f5f7;
    border-bottom: 2px solid #f5f5f7;
    height: 8vh;
    margin-top: 10px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-links {
    height: 7.8vh;
    width: 26vw;
    text-decoration: none;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.nav-links:hover {
    color: black;
}

.current {
    border-top: 2px solid #e03134;
    color: black;
}

.current:hover {
    font-style: bold;
}

section#home {
    height: 78vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

div#main-section {
    border-radius: 20px;
    background-image: url(assets/backroundImageRed.jpg);
    background-size: 100% 100%;
    width: 50%;
    height: 80%;
}

#main-section > * {
    position: relative;
    top: 30%;
    left: 30%;
}

.quote {
    font-style: italic;
    font-size: 3rem;
}

#button-get-started {
    color: white;
    font-style: italic;
    background: #e03134;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 8px;
    width: 160px;
    height: 40px;
    font-size: 1.5rem;
    position: relative;
    left: 40%;
    top: 35%;
}